

<div class="card bg-light m-3 mx-auto" style="max-width: 22rem;">
  <div class="card-header">
    <img class="rounded" src="https://firebasestorage.googleapis.com/v0/b/twitter-api-angular.appspot.com/o/news_icon_512.png?alt=media&token=8d6da4ca-f259-4cc9-a739-94e9f0302679" alt="profile" /> 
     <small><b class="text-primary"> Twitter News 新闻</b></small>
  </div>
  <div class="card-body">
    <img class="rounded" src="https://firebasestorage.googleapis.com/v0/b/twitter-api-angular.appspot.com/o/btc-donate.png?alt=media&token=4bdc6372-d0c9-463d-ad6d-77fbb2912115" alt="btn donate">
    <p class="card-text">
      <small>If you enjoy this app, please consider donating and sharing with others</small><br>
      <br>
      <small>如果你喜歡這個App，請考慮捐助我並且分享給其他人，謝謝!</small>
    </p>
    <small class="text-secondary"><i class="fa fa-btc"></i> Donate: <b>3Bp3VMQtAhJ5MfJG4mnXfbMFctj8a3wHor</b></small>
  </div>
</div>