<div class="card bg-light m-3" style="max-width: 22rem;">
  <div class="card-header">
    <img class="rounded-circle p-r-3" *ngIf="post.user.profile_image_url_https" src="{{post.user.profile_image_url_https}}" alt="profile" /> 
     <small><b class="text-primary"> {{post.user.name}}</b></small>
  </div>
  <div class="card-body">
    <img class="rounded" *ngIf="media_url_https" src="{{media_url_https}}" alt="profile">
    <p class="card-text">
      <small>{{post.text}}</small><br>
     
    </p>
    <small class="text-secondary">{{post.created_at | date: 'yyyy-MM-dd h:mm a'}} </small>
    <p class="pull-right">
      <span class="badge badge-danger m-r-15">
        <i class="fa fa-heart"></i> {{post.favorite_count}}
      </span>
      <span class="badge badge-success">
        <i class="fa fa-retweet"></i> {{post.retweet_count}}
      </span>
    </p>
  </div>
</div>