<header class="navbar navbar-sticky navbar-stuck">

  <div class="site-branding">
    <div class="inner">
      <!-- Site Logo-->
      <a class="site-logo" routerLink="/">
        <img src="https://firebasestorage.googleapis.com/v0/b/twitter-api-angular.appspot.com/o/tw-icon-512.png?alt=media&token=66ff36ff-be39-41ab-8dfc-956b659d0123"
          alt="accshop">
      </a>
    </div>
  </div>
  <!-- Main Navigation-->
  <nav class="site-menu">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/news">
          <span>News</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <div class="tools">
        <div class="btn btn-default btn-sm" title="English">
          <a routerLinkActive="text-danger" routerLink="/news/en">
            Eng</a>
        </div>
        <div class="btn btn-default btn-sm" title="中文">
          <a routerLinkActive="text-danger" routerLink="/news/zh">
            Zh</a>
        </div>
        <div class="btn btn-default btn-sm" title="日本語">
          <a routerLinkActive="text-danger" routerLink="/news/jp">
            Jp</a>
        </div>
        <div class="btn btn-default btn-sm" title="한국어">
          <a routerLinkActive="text-danger" routerLink="/news/kr">
            Kr</a>
        </div>
      </div>
    </div>
  </div>
</header>