
<header class="navbar navbar-sticky navbar-stuck">

    <div class="site-branding">
      <div class="inner">
        <!-- Site Logo-->
        <a class="site-logo" routerLink="/">
          <img src="https://firebasestorage.googleapis.com/v0/b/twitter-api-angular.appspot.com/o/news_icon_512.png?alt=media&token=8d6da4ca-f259-4cc9-a739-94e9f0302679"
            alt="accshop">
        </a>
      </div>
    </div>
    <!-- Main Navigation-->
    <nav class="site-menu">
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/news">
            <span>News</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- Toolbar-->
    <div class="toolbar">
      <div class="inner">
        <div class="tools">
          <div class="cart" title="中文">
            <a routerLink="/news/zh"></a>
            <i class="fa fa-heart"></i>
          </div>
          <div class="cart" title="English">
            <a routerLink="/news/en"></a>
            <i class="fa fa-globe"></i>
          </div>
        </div>
      </div>
    </div>
  </header>
  